<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gank.gankly">

    <uses-permission android:name="com.company.app.fileprovider.READ"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.gank.gankly.config.glide.MyGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="com.gank.gankly.config.glide.OkHttpProgressGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".ui.main.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.web.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".ui.web.JiandanWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.browse.BrowseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BrowseThemeBase"/>
        <activity
            android:name=".ui.web.WebVideoViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.jiandan.JiandanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Dark"/>

        <service android:name=".ui.base.InitializeService"/>
    </application>
</manifest>